<template>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="img/mgen-mohawk.png" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
          <p>MGen Satori</p>

          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search..."/>
          <span class="input-group-btn">
            <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li>
          <a href="#/">
            <i class="fa fa-home fa-lg"></i> <span>Home</span></a>
        </li>
        <li>
          <a href="#/">
            <i class="fa fa-question fa-lg"></i> <span>Discover</span>
          </a>
        </li>
        <li>
          <a href="#/">
            <i class="fa fa-user-secret fa-lg"></i> <span>Missions</span>
          </a>
        </li>
        <li>
          <a href="#/geo-demo">
            <i class="fa fa-globe fa-lg"></i> <span>Geo</span>
          </a>
        </li>
        <li>
          <a href="#/geo-demo">
            <i class="fa fa-plane fa-lg"></i> <span>Trips</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-file-text fa-lg"></i>
            <span>Posts</span>
            <i class="fa fa-angle-left  pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#/posts">List</a></li>
            <li><a href="#/posts/new">New</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-money fa-lg"></i>
            <span>Vendors</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#/vendors">List</a></li>
            <li><a href="#/vendors/new">New</a></li>
            <li><a href="#/vendors/:id/pages">Pages</a></li>
            <li><a href="#/vendors/templates">Templates</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-picture-o fa-lg"></i>
            <span>Media</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#/media">List</a></li>
            <li><a href="#/media/upload">Upload</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users fa-lg"></i>
            <span>Events</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#/events">List</a></li>
            <li><a href="#/events/new">New</a></li>
          </ul>
        </li>
        <li>
          <a href="#/">
            <i class="fa fa-star-o fa-lg"></i> <span>Dreamlist</span></a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>
