<template>
  <require from='./header-main/header-main'></require>
  <require from='./side-bar-left/side-bar-left'></require>
  <require from='./side-bar-right/side-bar-right'></require>
  <require from='./footer-main/footer-main'></require>

  <div class="wrapper">
    <header-main></header-main>
    <left-side-bar></left-side-bar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <content></content>
    </div><!-- /.content-wrapper -->

    <right-side-bar></right-side-bar>
    <footer-main></footer-main>
  </div>
</template>
